# Random Seed Configuration
# Set this to ensure reproducibility across all experiments
RANDOM_SEED=42

# MLflow Configuration
MLFLOW_TRACKING_URI=http://localhost:5000
MLFLOW_REGISTERED_MODEL_NAME=RandomForestObesityModel
MLFLOW_MODEL_URI=

# API Configuration
API_HOST=0.0.0.0
API_PORT=8000
